.newsEventsList {
  width:100%;
  height:400px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  }
  .newsEvents {
  width:30%;
  height:90%;
  
  }
  .newsEventsImg {
    width:100%;
    height:250px;
  }
  .newsImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .newsEventsText {
    width:100%;
    height:150px;
    text-align: center;
  }